@import "tailwindcss";

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
